.feeds-page {
  padding: 20px;
  background: #1e1e1e;
  min-height: 100vh;
  color: #f0f0f0;
  box-sizing: border-box;
  
}

.tab-bar {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding: 12px 16px;
  margin-bottom: 8px;
  scrollbar-width: none;
  padding-top: 38px;
}

.tab-bar button {
  flex: 1;
  padding: 10px;
  margin: 0 4px;
  background: #444;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.tab-bar .active {
  background: #393945;
}

.news-card, .leader-card {
  background: #2c2c2c;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
}
.row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  margin-top: 8px;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}
.invest-time-btn {
  background: #007bff;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
}
.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 54px;
  background: #1e1e1e;
  color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1010;
  box-shadow: 0 2px 8px rgba(0,0,0,0.11);
  padding: 0 0px;
  justify-content: space-between;
}